.ag-cell {
  border-right: 1px solid #e5e4e2 !important;
}

.ag-row {
  border-bottom: 1px solid #e5e4e2;
}

.no-border {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button .ag-cell {
  border: none !important;
  outline: none !important;
}
