.ag-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  background-color: transparent;
}

.ag-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.no-border {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button .ag-cell {
  border: none !important;
  outline: none !important;
}

.ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
  border: 1px solid #0096ff !important;
}
.ag-cell-range-selected {
  border: unset !important;
}

.ag-theme-alpine {
  /* --ag-foreground-color: transparent; */
  --ag-background-color: transparent;
  /* --ag-header-foreground-color: transparent; */
  --ag-header-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-header-column-resize-handle-color: transparent;
  --ag-borders: none;
}
.ag-row-selected {
  background-color: rgba(0, 0, 0, 0.2);
}
