.ag-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.no-border .ag-header {
  border-bottom: none !important;
}

.ag-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.ag-header-cell:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.ag-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  background-color: transparent;
}

.no-border .ag-cell {
  border-right: none !important;
}

.ag-row {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  background: transparent;
}

.ag-row:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.no-border .ag-row {
  border-bottom: none;
}

.no-border {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button {
  border: none !important;
  outline: none !important;
}

.add-row-edit-button .ag-cell {
  border: none !important;
  outline: none !important;
}

.ag-cell-range-single-cell:not(.ag-cell-inline-editing) {
  border: 1px solid #0096ff !important;
}
.ag-cell-range-selected {
  border: unset !important;
}

.ag-theme-alpine {
  /* --ag-foreground-color: transparent; */
  --ag-background-color: rgba(0, 0, 0, 0.1);
  /* --ag-header-foreground-color: transparent; */
  --ag-header-background-color: transparent;
  --ag-odd-row-background-color: transparent;
  --ag-header-column-resize-handle-color: transparent;
  --ag-borders: none;
}
.ag-root-wrapper {
  border-radius: 8px;
  padding: 2px 12px;
}

.ag-root ::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  border-radius: 100px;
}
/* .ag-root ::-webkit-scrollbar-button {
  background: #ccc;
} */
/* .ag-root ::-webkit-scrollbar-track-piece {
  background: red;
} */

.ag-root ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* ​ .ag-popup-editor {
  background-color: transparent;
} */

.ag-row-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

/* .ag-theme-alpine .popup {
  background-color: red;
} */
/* background: rgba(0, 0, 0, 0.1);
border-radius: 8px; */
