.styled-table {
  border-collapse: collapse;
  min-width: 400px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 100%;
}

.styled-table th {
  padding: 20px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.styled-table td {
  padding: 10px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.styled-table td:first-child {
  border-left: none;
  border-bottom: none;
}

.styled-table td:last-child {
  border-right: none;
  border-bottom: none;
}

.card-container {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(100px);
  border-radius: 4px;
}
